<div class="container py-20">
  <div
    class="p-4 mx-auto lg:px-10 xl:px-0 xl:max-w-screen-xl 2xl:max-w-screen-2xl font-poppins"
  >
    <div class="flex flex-col justify-center gap-y-12">
      <div class="space-y-5 text-center">
        <h1 class="text-5xl font-bold lg:text-5xl text-background">
          Our Services
        </h1>
        <h2 class="text-sm font-light lg:text-base">
          Find the product or service you are looking for here
        </h2>
      </div>
      <div class="grid grid-cols-4 gap-4 mx-10">
        <div class="flex flex-col items-center justify-center p-6">
          <div class="p-10 m-2 border-2 rounded-full border-softGray">
            <div class="flex items-center w-12 h-12 text-center"></div>
          </div>
        </div>
        <div class="flex flex-col items-center justify-center p-6">
          <div class="p-10 m-2 border-2 rounded-full border-softGray">
            <div class="flex items-center w-12 h-12 text-center"></div>
          </div>
        </div>
        <div class="flex flex-col items-center justify-center p-6">
          <div class="p-10 m-2 border-2 rounded-full border-softGray">
            <div class="flex items-center w-12 h-12 text-center"></div>
          </div>
        </div>
        <div class="flex flex-col items-center justify-center p-6">
          <div class="p-10 m-2 border-2 rounded-full border-softGray">
            <div class="flex items-center w-12 h-12 text-center"></div>
          </div>
        </div>

        <div class="space-y-5 text-center">
          <div class="px-10 text-xl font-bold uppercase text-background">
            Corperative Identity
          </div>
          <div class="px-10 text-background/80">
            Quisque with placerat Porttitor nisi felis Congue in & Tempus
          </div>
        </div>
        <div class="space-y-5 text-center">
          <div class="px-10 text-xl font-bold uppercase text-background">
            Corperative Identity
          </div>
          <div class="px-10 text-background/80">
            Quisque with placerat Porttitor nisi felis Congue in & Tempus
          </div>
        </div>
        <div class="space-y-5 text-center">
          <div class="px-10 text-xl font-bold uppercase text-background">
            Corperative Identity
          </div>
          <div class="px-10 text-background/80">
            Quisque with placerat Porttitor nisi felis Congue in & Tempus
          </div>
        </div>
        <div class="space-y-5 text-center">
          <div class="px-10 text-xl font-bold uppercase text-background">
            Corperative Identity
          </div>
          <div class="px-10 text-background/80">
            Quisque with placerat Porttitor nisi felis Congue in & Tempus
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
