<nav class="fixed top-0 z-10 w-full">
  <div class="flex flex-wrap items-center justify-between p-6 mx-auto sm:p-10">
    <div
      class="flex items-center text-2xl font-bold uppercase cursor-pointer text-background"
    >
      encrease
    </div>
    <div class="flex items-center gap-2 lg:order-2">
      <button
        class="px-4 py-2 font-bold uppercase transition duration-300 border-2 rounded-md cursor-pointer text-background border-background"
      >
        sign in
      </button>
      <button
        type="button"
        class="inline-flex items-center p-2 ml-3 text-sm rounded-lg text-background focus:outline-none focus:ring-0"
      >
        <svg
          class="w-6 h-6"
          aria-hidden="true"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
            clip-rule="evenodd"
          ></path>
        </svg>
      </button>
    </div>
    <!-- <div
      class="w-full mt-10 rounded-lg lg:mt-0 lg:justify-between lg:items-center lg:flex lg:w-auto lg:order-1 bg-softGray lg:bg-transparent lg:p-0"
    >
      <div
        class="flex flex-col gap-4 p-2 font-medium lg:p-0 lg:flex-row lg:gap-10 lg:font-medium text-background"
      >
        <div class="p-2">Home</div>
        <div class="p-2">About</div>
        <div class="p-2">Contact</div>
      </div>
    </div> -->
  </div>
</nav>
