<div class="grid md:grid-cols-2 lg:grid-cols-3 gap-10 font-poppins">
    <div class="max-w-sm bg-slate-50 rounded-md shadow-lg hover:scale-105 duration-500">
        <div class="p-8 bg-background">
            <img src="https://source.unsplash.com/random/300x300?laptop" class="w-full"/>
        </div>
        <div class="p-4 text-background">
            <h1 class="text-lg font-semibold">Service Laptop</h1>
            <p class="font-light">Rp.500.000</p>
        </div>
    </div>
    <div class="max-w-sm bg-slate-50 rounded-md shadow-lg hover:scale-105 duration-500">
        <div class="p-8 bg-background">
            <img src="https://source.unsplash.com/random/300x300?phone" class="w-full"/>
        </div>
        <div class="p-4 text-background">
            <h1 class="text-lg font-semibold">Service Handphone</h1>
            <p class="font-light">Rp.300.000</p>
        </div>
    </div>
    <div class="max-w-sm bg-slate-50 rounded-md shadow-lg hover:scale-105 duration-500">
        <div class="p-8 bg-background">
            <img src="https://source.unsplash.com/random/300x300?keyboard" class="w-full"/>
        </div>
        <div class="p-4 text-background">
            <h1 class="text-lg font-semibold">ButterFly Keyboard</h1>
            <p class="font-light">Rp.1.500.000</p>
        </div>
    </div>
</div>
