<div class="flex justify-center items-center h-screen p-2">
    <div class="w-full md:max-w-4xl bg-softGray p-4 py-4 flex justify-center items-center shadow-2xl font-poppins">
        <div class="flex flex-col md:flex-row-reverse justify-between items-center gap-5 w-full">
            <div class="hidden md:block -my-4 -mr-4">
                <img
                alt="macPhoto.jfif"
                src="assets/macPhoto.jfif"
                class="w-full"
                />
            </div>
            <div class="w-full">
                <div>
                    <h1 class="text-2xl text-center my-10 text-background font-light">Sign In</h1>
                </div>
                <form>
                    <div class="py-4">
                        <input type="text" placeholder="Username" required class="p-2 w-full" />
                    </div>
                    <div class="py-4">
                        <input type="password" placeholder="Password" required class="p-2 w-full"/>
                    </div>
                    <div class="text-softWhite py-4">
                        <input type="submit" value="Submit" class="bg-background w-full p-2 hover:bg-softWhite hover:text-black duration-300 cursor-pointer" />
                    </div>
                </form>
                <p class="text-background text-sm">Don't have an account? <a class="text-softBlue hover:text-softWhite duration-300" routerLink="/register" >Sign Up here</a></p>
            </div>
        </div>
    </div>
</div>