<!-- <app-navbar></app-navbar> -->
<div class="py-32">
    <div class="max-w-screen-xl mx-auto font-poppins p-4">
        <div class="flex flex-col gap-y-8 justify-center">
            <div class="space-y-5 text-center">
                <h1 class="text-5xl lg:text-6xl font-bold text-background">Products</h1>
                <h2 class="text-sm lg:text-lg font-light">Find the product or service you are looking for here</h2>
            </div>
            <div>
                <app-search-bar></app-search-bar>
            </div>
            <div>
                <app-sort-bar></app-sort-bar>
            </div>
            <div>
                <app-product-cards></app-product-cards>
            </div>
        </div>
    </div>
</div>

<!-- <app-footer></app-footer> -->